<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Login</h3>
                            <p class="text-muted mb-4">Login with your details.</p>
                            <form (ngSubmit)="login()">
                                

                                <div class="input-container">
                                    <i class="fa fa-envelope icon"></i>
                                    <input class="input-field" type="email" placeholder="Email" name="email" required [(ngModel)]="user.email">
                                
                                </div>
                                <span style="color: red;height: 30px;" *ngIf="isUserError">{{errorMsg}}</span>
                                <div class="input-container">
                                    <i class="fa fa-key icon"></i>
                                    <input class="input-field" type="password" placeholder="Password" name="psw" required [(ngModel)]="user.password">
                                  </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                    <label for="customCheck1" class="custom-control-label">Remember password</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm " >Sign in</button>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>