<table class="table table-hover">
    <thead class="table-dark">
        <tr>
    <th scope="col">AssignedCode</th>
    <th scope="col">dealer_id</th>
    <th scope="col">dealer_name</th>
    <th scope="col">shop_id</th>
    <th scope="col">shop_name</th>
    <th scope="col">region</th>

        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let item of assigning;">
            <td>{{item.areaCode}}</td>
            <td>{{item.dealer_id}}</td>
            <td>{{item.dealer_name}}</td>
            <td>{{item.shop_id}}</td>
            <td>{{item.shop_name}}</td>
            <td>{{item.region}}</td>

            



        </tr>

    </tbody>
</table>